body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #2c3e50;
  color: #ecf0f1;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#startScreen {
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#boardSizeInputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#boardSizeInputs .boardSizeInput {
  min-width: 0;
}
#boardSizeInputs .times {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}
#startScreen #source {
  margin-top: 1rem;
  padding: 1rem;
  color: #3498db;
  text-decoration: none;
}
#startScreen #source:hover {
  opacity: 0.8;
}

#waitingScreen input {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

#messages {
  height: 6rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#playerActions {
  height: 6rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#playerActions button {
  margin: 1rem;
}
#playerActions .buttonRow {
  display: flex;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}
h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem 0;
}
button,
input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: none;
  box-sizing: content-box;
}
button {
  cursor: pointer;
  background-color: #1abc9c;
  color: #ecf0f1;
  padding: 1rem 2rem;
  font-weight: 500;
}
button:hover {
  background-color: #16a085;
}
input {
  color: #2c3e50;
  margin-bottom: 0.75rem;
  padding: 1rem 0 1rem 1rem;
}
label {
  margin-bottom: 0.5rem;
  display: none;
}

.blue {
  color: #3498db;
}
.red {
  color: #e74c3c;
}
.turquiouse {
  color: #1abc9c;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 480px) {
  #game {
    width: 100%;
  }
  #startScreen {
    width: 80%;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  button,
  input {
    font-size: 1rem;
  }
}
